.container-fluid
{
    border-radius: 20px;
    background-color: #929487;
    padding: 20px;
    width: 100%;
}

.title-container
{
    width: 100%;
    border-radius: 20px;
    background-color: #322624;
    color: #929487;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    h1
    {
        margin-right: 20px;
    }
}

.containerr
{
    padding: 100px;
}

.message-container
{
    width: 100%;
    height: 400px; 
    overflow-y: scroll; 
    background-color: #322624;
    border-radius: 20px;
    padding: 10px;
}

.input-message
{
    width: 100%;
    background-color: #322624;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #929487;
}

form
{
    margin-top: 10px;
    display: flex;
}

button{
    margin-left: 10px;
}


.sub-message
{
    width: 100%;
    display: flex;
    justify-content: start;
}
.message 
{
    width: 50%;
    border-radius: 20px;
    background-color: #929487;
    color: #322624;
    padding: 3px;
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.sub-message-user
{
    width: 100%;
    display: flex;
    justify-content: end;
}
.message-user
{
    width: 50%;
    border-radius: 20px;
    background-color: #87948a;
    color: #322624;
    padding: 3px;
    margin: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

@media (max-width: 640px) {
    *
    {
        font-size: 10px;
    }

    .containerr
    {
        margin-top: 30%;
        padding: 5px;
    }
}