<div class="container d-flex justify-content-center align-items-center">
    <div class="screen">
        <div class="screen-content d-flex justify-content-center align-items-center">
            <form class="login" [formGroup]="regForm" novalidate>
                <h2>Register</h2>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login-input" placeholder="Email" formControlName="email" name="mail">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login-input" placeholder="User name" formControlName="name" name="name">
                </div>
                <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input type="password" class="login-input" placeholder="Password" formControlName="password" name="password">
                </div>
                <div class="btn-container d-flex justify-content-start align-items-center">
                    <button type="button" (click)="OnRegisterClick()" class="btn btn-success">
                        <span class="button__text">Register Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>	
                </div>
                <div class="p-container d-flex justify-content-center align-items-center">
                    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesion</a></p>
                </div>
            </form>
        </div>	
    </div>
</div>