<div class="start-container" *ngIf="this.isGameStarted == false">
  <div class="start">
    <H1>Ahorcado</H1>
    <button class="btn" (click)="iniciarJuego()">COMENZAR</button>
  </div>
</div>
<div style="margin-top: 80px; padding: 90px;" *ngIf="this.isGameStarted">
  <div class="word-container row">
    <div class="col-md-6" style="text-align: center;">
      <span style="margin-right: 10px; background-color: #814C4B50; padding: 20px; border-radius: 20px;">Puntos: {{
        puntos }}</span>
    </div>
    <div class="col-md-6" style="text-align: center; margin-top: 60px;">
      <span>{{ palabraOculta }}</span>
    </div>
  </div>
  <div class="body">
    <div class="image-container">
      <img src="./../../../assets/{{7 - intentosRestantes}}.png">
    </div>
    <div class="letters-container">
      <div class="row">
        <div *ngFor="let letra of letras" class="col letter" style="text-align: center;">
          <button class="button" style="margin-right: 10px;" (click)="adivinar(letra)"
            [ngClass]="{'button-selected': letrasUsadas.includes(letra)}">
            {{ letra }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>