.letters-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin-right: 70px;
}

.image-container
{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button
{
    width: 60px;
    height: 60px;
    background-color: #BBBBBB;
    border: none;
    border-radius: 10px;
    color: #212529;
}

img 
{
    width: 400px;
}

.word-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    padding: 20px;
}

.letter
{
    width: 60px;
    margin: 4px;
}
span
{
    width: 100%;
    font-size: 60px;
    color: #929487;
}

.button-selected
{
    display: none;
}

.start-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0909;
}

.start {
    text-align: center;
}

button {
    background-color: #814C4B;
    color: #FFE5D9;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

@media (max-width: 1070px) {
    span {
        font-size: 30px; /* Tamaño de fuente para pantallas más pequeñas */
    }
    img
    {
        width: 200px;
    }
    .body
    {
        display: flex;
        flex-direction: column;
    }
    .letters-container
    {
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    span {
        font-size: 20px; /* Tamaño de fuente para pantallas más pequeñas */
    }
}