@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@900&family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container-fluid
{
  color: #FFE5D9 !important;
}

/* -- HEAD -- */
.header
{
  display: flex !important;
  height: 400px;
  background-color: #332725;
  margin-top: 70px;
  padding: 50px;
}


/* -- CARDS -- */
.card-container
{
  background-color: #929487;
}
.card-img-top
{
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}

.card
{
  transition: transform 0.2s ease-in-out;
  margin: 15px;
  min-width: 251px;
  background-color: #332725;
  color: #ffffff;
  border-radius: 15px 15px 15px 0px;
}

.card:hover
{
  filter: brightness(0.7);
  cursor: pointer;
  transform: scale(1.09);
}

/*FOOTER*/
.footer
{
  background-color: #332725;
  height: 100px;
}

.typing-anim {
  font-size: 70px;
  overflow: hidden;
  border-right: 2px solid; 
  white-space: nowrap; 
  animation: typing 10s steps(100) infinite, blink-caret 0.75s step-end infinite;
}


.fnt-color
{
  color: #4D3B37;
}

@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  30%
  {
    width: 100%;
  }
  40% 
  {
    width: 38%;
  }
  60%
  {
    width: 38%;
  }
  70% 
  {
    width: 100%;
  }
  80%
  {
    width: 100%;
  }
  90%
  {
    width: 0;
  }
  100%
  {
    width: 0;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #333;
  }
}

@keyframes blink-caret {
  from, to {
      border-color: transparent;
  }
  50% {
      border-color: #FFE5D9;
  }
}

@media (max-width: 480px) 
{
  .typing-anim
  {
    font-size: 30px;
  }
}