.start-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0909;
}

.start {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #814C4B;
    color: #FFE5D9;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

img
{
    width: 230px;
}

.col-md-2
{
    margin: 10px 0px;
    width: 100%;
}

.container-fluid
{
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100%; 
    margin-top: 6%;
}

@media (max-width: 1070px) {
    img
    {
        width: 170px;
    }

    .container-fluid
    {
        margin-top: 40%;
    }
    .col-md-2
    {
        margin: 10px 0px;
    }
}