<div class="d-flex aboutme-container">
    <div class="container-fluid aside-profile">
        <div class="container d-flex justify-content-center">
            <img [src]="profile.avatar_url" style="width: 200px;" class="container j">
        </div>
        <div class="d-flex flex-column">
            <span style="padding: 12px; background-color: #814C4B60; border-radius: 20px; margin-bottom: 10px;">{{profile.name}}</span>
            <span style="margin-bottom: 10px;">{{profile.bio}}</span>
            <span style="margin-bottom: 10px;">{{profile.location}}</span>
        </div>
    </div>
    <div class="container-fluid h">
        <h1 class="title">Patricio Perez Cardenal</h1>
        <p>Me apasiona aprender nuevas tecnologías y herramientas que me permitan crear soluciones más eficientes y de mayor calidad, así como afrontar retos que me permitan crecer personal y profesionalmente. Soy una persona orientada a resultados, con habilidades para liderar proyectos y buscar soluciones innovadoras. Estoy comprometido con la mejora continua y el aprendizaje constante.</p>
        <h4>Mi juego.</h4>
        <p>'MATEMÁTICAS' el juego que pondrá a prueba tus habilidades matemáticas bajo presión! Como su nombre lo indica, en el te enfrentarás a una serie de operaciones matemáticas que incluyen suma, resta, multiplicación y división, todo mientras compites contra el reloj. ¡Pero ten cuidado! A medida que avanzas en los niveles, las operaciones se vuelven cada vez más complejas y desafiantes. </p>
        <p>La mecánica de juego es simple: se te presentará una operación matemática y deberás resolverla lo más rápido que puedas. En 'MATEMÁTICAS' solo encontrarás resultados positivos. Además, en caso de que los números involucrados generen un valor decimal, este solo se mostrará con un único decimal.</p>
        <p>Prepárate para ejercitar tu mente y mejorar tus habilidades matemáticas mientras te diviertes compitiendo en un emocionante juego de rapidez y precisión. ¿Estás listo para el desafío? ¡Adelante y demuestra tu destreza en 'MATEMÁTICAS'!</p>
    </div>
</div>