<div class="d-flex">
    <div class="container-fluid aside-profile">
        <div class="container d-flex justify-content-center">
            <img class="container j" src="./../../../assets/fotoperfil.jpeg">
        </div>
    </div>
    <div class="container-fluid h">
        <h1 class="title">Patricio Perez Cardenal</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat ullam quibusdam officiis unde et natus aperiam ratione quis repellat, dolores repudiandae velit rem. Corrupti sint ipsa consequatur ducimus porro iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem porro sed alias nam vitae accusantium necessitatibus nostrum tempore, ratione laboriosam hic, veniam asperiores tempora doloribus harum totam voluptatem eligendi earum.</p>
    </div>
</div>