*{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
  
/* -- NAVBAR -- */
.navbar
{
background-color: #332725 !important; 
}

.container-fluid
{
color: #FFE5D9 !important;
}

.collapse
{
flex-grow: 0;
}
.nav-link
{
color: #FFE5D9 !important;
}