*{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
  
/* -- NAVBAR -- */
.navbar
{
background-color: #332725 !important; 
}

.container-fluid
{
color: #FFE5D9 !important;
}

.collapse
{
flex-grow: 0;
}
.nav-link
{
color: #FFE5D9 !important;
}

.btn
{
    background-color: #ff888862;
    border-radius: 30px;
    color: #FFE5D9 !important;
}

.app-container {
    position: relative;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fondo gris medio transparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que esté en la parte superior */
  }
  
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000; /* Asegura que esté en la parte parte superior del contenido */
  }
  