@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@900&family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,900&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
  }

.container 
{
	min-height: 100vh;
}

.screen
{
	background-color: #929487;
	width: 400px;
	border-radius: 15px 15px 15px 0px;
}

.screen-content
{
	padding: 50px;
}

.btn-success
{
	border-radius: 15px 0px 15px 0px;
}

.login-input
{
	margin: 20px 0px;
	background-color: #8b8d80 !important;
	border: none;
	border-bottom: 10px solid #322624;
	padding: 10px;
	border-radius: 0px  6px 6px 0px;
}

small{
	color: #ff4a4a;
}

.users-container
{
	width: 100%;
	margin: 10px 0px;
}

.user
{
	background-color:#322624;
	color: #8b8d80;
}