<div class="container d-flex justify-content-center align-items-center">
    <div class="screen">
        <div class="screen-content d-flex justify-content-center align-items-center">
            <form class="login" [formGroup]="regForm">
                <h2>Login</h2>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="email" class="login-input" placeholder="User name / Email" formControlName="email">
                    <div *ngIf="regForm.controls['email'].errors != null">
                        <small
                            *ngIf="regForm.controls['email'].errors!['required'] && regForm.controls['email'].touched">¡El
                            Email / Usuario es requerido!</small>
                    </div>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login-input" placeholder="Password" formControlName="password">
                    <div *ngIf="regForm.controls['password'].errors != null">
                        <small
                            *ngIf="regForm.controls['password'].errors!['required'] && regForm.controls['password'].touched">¡La
                            contraseña es requerido!</small>
                    </div>
                </div>
                <div class="users-container d-flex justify-content-between align-items-center">
                    <button type="button" class="btn user" (click)="OnFillClick('admin@admin.com', '123456')">
                        <span style="margin-right: 5px;">1</span>
                        <i class="bi bi-person"></i>
                    </button>	
                    <button type="button" class="btn user" (click)="OnFillClick('invitado@invitado.com', '123456')">
                        <span style="margin-right: 5px;">2</span>
                        <i class="bi bi-person"></i>
                    </button>	
                    <button type="button" class="btn user" (click)="OnFillClick('tester@tester.com', '123456')">
                        <span style="margin-right: 5px;">3</span>
                        <i class="bi bi-person"></i>
                    </button>	
                </div>
                <button type="button" class="btn btn-success" style="margin-top: 20px;">
                    <span (click)="OnLoginClick()" class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>